@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

 
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}




@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-noto-sans), var(--font-cormorant);
    font-weight: 600;
    letter-spacing: -0.02em;
  }
  p {
    font-family: var(--font-noto-serif), serif;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-playfair-display);
  --font-title: var(--font-playfair-display);
  --font-paragraph: var(--font-source-serif-pro);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), system-ui, sans-serif;
  font-feature-settings: "ss01", "ss02", "cv01", "cv03";
  font-optical-sizing: auto;
}

.font-heading {
  font-family: var(--font-dm-serif-text), serif;
}

.font-title {
  font-family: var(--font-playfair-display), serif !important;
}

.font-paragraph {
  font-family: var(--font-source-serif-pro), serif !important;
}
